[2015-03-03 06:36] khaines opened #2 "Add custom property support to all applicable data types"

[2015-03-03 06:36] khaines opened #3 "Add custom measurement support to all applicable types"

[2015-03-03 06:37] khaines opened #4 "Add Exception data tracking"

[2015-03-03 06:37] khaines opened #5 "Add PageViewPerformance data support"

[2015-03-03 06:38] khaines opened #6 "Support timed PageViews"

[2015-03-04 06:54] khaines opened #7 "Support timed Events."

[2015-03-05 06:54] #2 closed

[2015-03-05 06:54] #3 closed

[2015-03-05 06:54] #4 closed

[2015-03-05 18:23] khaines opened #8 "Declutter Code base"
Reorganize code to be easier to maintain going forward as more features are added.

[2015-03-07 05:48] #8 closed

[2015-03-07 06:49] khaines opened #10 "Add Performance tracking of remote calls"

[2015-03-10 03:56] khaines opened #12 "Parsed exception stack item missing method name will be rejected by Application Insights"
When parsing an unhandled exception stack, if a line is parsed without a method name, it is being sent to application insights as null/missing. This will be rejected by the endpoint, so in the cases of not being able to parse the method name, a filler/default name will need to be entered.

[2015-05-11 12:52] alippai opened #13 "Remove one of the main file entries from the bower.json"
Only one of the files is needed to run the application:
[code]
The docs say:

As angular apps are usually preprocessed, I recommend the non-minified version.

[2015-05-18 14:09] alippai opened #14 "Infinite loop with Firefox + AdBlock"
Firefox extensions throw synchronous error on xhr.open() instead of passing the error to the ```onerror``` callback handler. This causes angular-applicationinsights to get into an infinite loop as it catches the error and tries to send it - which results in an another error.

[2015-05-19 06:06] khaines commented on #14
Thanks for reporting this. I'll investigate and try to reproduce the behaviour.

[2015-05-19 06:11] khaines commented on #14
is there a particular adblock plug-in and version that causes this?

[2015-05-19 06:22] alippai commented on #14
Disable a resource manually or add Google Analytics code and enable a
privacy list in adblock. If you need, I can create an example later today.

On Tue, May 19, 2015, 08:11 Ken Haines <notifications@github.com> wrote:

[2015-05-20 04:45] khaines commented on #14
I managed to reproduce the behaviour you mentioned (endless looping of trying to report an error). I've got a fix drafted up and should be pushed shortly

[2015-05-20 05:36] khaines commented on #14
This should be resolved now in v0.2.3

[2015-05-20 05:36] #14 closed

[2015-05-20 05:47] khaines commented on #13
Thank you for your feedback

Both are provided so the consuming dev can choose which one to use. This is inline with what is done for npm and nuget distributions as well, and some app devs do use the pre-minified so it is preferred to leave that option open to them.

[2015-05-20 05:47] #13 closed

[2015-05-26 12:52] Petermo opened #16 "Update bower.json file"
The bower.json file is quite outdated. Would you consider updating it or is something blocking that?

[2015-05-28 05:59] khaines commented on #16
yep, forgot to update that. Thank you for bringing it to my attention.

[2015-05-28 05:59] #16 closed

[2015-06-04 15:00] azzlack opened #18 "Problem when $httpProvider.defaults.withCredentials is enabled"
When you set `$httpProvider.defaults.withCredentials = true` every call to the AI service will fail with the following message:

[code]

Maybe it is possible to disable that flag when posting to AI?

[2015-06-04 15:01] azzlack opened #19 "Add a "developer mode""
Would be nice to have a flag you can set to true to make the service not post anything to AI but print it to the console instead

[2015-06-04 17:07] khaines commented on #19
Thanks for the feedback. I can understand the use for this and it shouldn't be hard to implement.

[2015-06-04 17:09] khaines commented on #18
Yes, this should be investigated. Thank you for reporting it.

[2015-06-09 20:53] azzlack opened #20 "Crashes the web site in Safari 7/8"
Just ran into a problem with our Safari users where the page would not load when `angular-applicationinsights` was loaded. The page would load to ~25% and then stop responding, and had to be killed with the Activity Monitor.

I have no idea why it happens, but the problem was solved when I removed all `angular-applicationinsights` files and references in my js.

Please note that this problem did n

[2015-06-10 03:41] khaines commented on #20
Thank you for the feedback. I'll have a look into this....crashing Safari is not an intended behaviour.

[2015-06-10 08:14] azzlack commented on #20
Thanks, the module works otherwise perfect, so would really love to be able to use it again.

Considering you are using a lot of 3rd part libraries/derivations for storage/stacktrace could it be one of them that has a problem with Safari?

[2015-06-10 08:19] azzlack commented on #20
Btw. Here is the initialization code I was using: (Removed the unrelated parts)

[code]

[2015-06-11 09:50] arefkn commented on #12
First off, great work buddy! Within minutes I was able to pump values into appinsights.

I believe this open issue is for the screenshot below
![image](https://cloud.githubusercontent.com/assets/7892905/8104277/17c30130-104d-11e5-8c9c-a638e57aa2af.png)

Any ETA on this? This is very critical for my application and would be the deciding factor of whether I should use this library. (Sorry if that so

[2015-06-11 09:51] arefkn commented on #12
Also, would this be the case for all unhandled exceptions?

[2015-06-13 04:06] khaines commented on #12
Yes this issue is for the screenshot you sent. I've got a interim fix that will put some 'safe' default values in if it can't parse out the method name, so that AppInsights will at least accept the stack information.

[2015-06-13 04:10] khaines commented on #12
I should have a patch out for this issue and the safari bug very shortly. I just want to get that safari bug fixed first .. this issue is already fixed in the master branch.

[2015-06-13 04:10] #12 closed

[2015-06-13 04:52] khaines commented on #20
which version are you running by the way? I fixed something like this for Firefox...and I'm wondering if that did it for Safari too. The firefox issue would essentially get into an endless loop of trying to report an error and that would cause another error.

I can't seem to get this to happen on my test pages in safari using 0.2.3

[2015-06-13 19:57] khaines commented on #12
this should be resolved in the 0.2.4 package

[2015-06-16 08:51] arefkn commented on #12
thank you! much appreciated

[2015-07-17 08:46] Jempan opened #22 "CORS problem"
I get "XMLHttpRequest cannot load https://dc.services.visualstudio.com/v2/track. Request header field Authorization is not allowed by Access-Control-Allow-Headers" error whenever I try to use applicationInsightsService. What am I missing?

[2015-07-20 21:35] khaines commented on #22
Is this still happening? The CORS headers are controlled by dc.services.visualstudio.com and not this library, so it might be an indication of something larger.

[2015-07-21 05:25] Jempan commented on #22
The error went away when I removed angular-applicationinsights so I choose to implement my own simple angular service for application insights for now. Great initiative with this plugin though and thanks for you answer!

[2015-07-22 05:56] khaines commented on #22
ok now i read your message again and I understand what happened. You tried to send an Auth header to the tracking endpoint... which is not allowed per it's policy (Access-Control-Allow-Headers:Origin, X-Requested-With, Content-Type, Accept). If you found a work around using another method, great. I would be interested to know if you are still sending authorization header though, because if that's

[2015-07-22 05:56] #22 closed

[2015-07-23 23:58] BringerOD commented on #18
I am having the same issue.  Has anyone found a work around?

[2015-08-01 21:40] khaines commented on #18
Finally has some time to open this project up to write and test the fix. I should have the patch out in the next hour.

[2015-08-01 21:46] khaines commented on #18
fixed in v0.2.5

[2015-08-01 21:46] #18 closed

[2015-08-01 21:47] #20 closed

[2015-08-21 10:39] HJoost opened #24 "Another CORS problem :-("
Hi,

today I added angular-applicationinsights to our project. But it seems that I don't get data to the Insights Server because of a CORS problem:

XMLHttpRequest cannot load https://dc.services.visualstudio.com/v2/track. Request header field Access-Control-Allow-Headers is not allowed by Access-Control-Allow-Headers.

Fiddler Request Log:

OPTIONS https://dc.services.visualstudio.com/v2/track HT

[2015-08-21 17:19] khaines commented on #24
The problem is that the request is trying to use headers "access-control-allow-headers" and "authorization". These are not allowed by the rules returned by the dc.services.visualstudio.com service. I'll have a look why these extra headers are in the options request (I'm assuming because they're in the original request), because they are not needed for AppInsight calls.

Are you using v0.2.5?

[2015-08-24 05:45] HJoost commented on #24
I use the Files from this git repo (master branch). This angular-applicationinsights.js file is v0.2.4?

[2015-08-24 06:38] HJoost commented on #24
Now it is partially working. There were two issues. In the app.config I had an entry, which I had to remove:
$httpProvider.defaults.headers.common['Access-Control-Allow-Headers'] = '*';

The other problem was that I set an default Authorization Header after login:
this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.token;

But now I have to set this authorization header on every

[2015-08-25 19:15] alippai opened #25 "Option to set user"
An option to update the userid and accountid during the app run would be nice.
After somebody logs in, I'd like to set the ids, so the tracking later matches his session and group.

[2015-08-26 18:09] khaines commented on #24
Ah, you were setting default headers. I will add code in the library to turn those off specifically when it's sending telemetry data. You shouldn't have to set those every time you want to use them :)

[2015-08-27 05:22] megachan opened #26 "No browser page load data"
I found that there was no browser page load data when I used angular-applicationinsights. However, data from activity by page name was shown perfectly. Are there any ways to show browser page load using angular-applicationinsights?

Kind regards,
Yui

[2015-08-27 05:53] HJoost commented on #24
Ok thank you!

I found a little help in setting a wrapper method for $http in my data services:

private callServer<T>(method: string, url: string, data: any): ng.IPromise<T>
        {
            var deferred = this.$q.defer();
            var req;
            if (data === undefined)
            {
                req = {
                    method: method,
                    url: this.webApiServ

[2015-08-29 19:43] khaines commented on #26
Currently not at the moment. Page load times are something planned for being added however.

[2015-08-30 00:18] frederikd commented on #26
@khaines great to hear that you are planning this for the future, and thanks for the plugin in general.
Do you have any idea when roughly you are planning to work on this? Or do you have some pointers as to what the issue is with page load times so we could look into adding this ourselves in the meantime? Thanks!

[2015-08-31 05:47] khaines commented on #26
Hopefully soon, as my time frees up. I'm always open to contributions if someone wants to add a missing feature before I can get to it. Really the pointer about why page load times aren't tracked in this module is that there is no code doing that job. Angular has some events that are fired when the view is transitioned (both start and finish) and one of those events is used to track the view data.

[2015-08-31 05:51] frederikd commented on #26
Okay, thanks. We might struggle but we'll try to have a look at it ourselves and see how we go. Will send it through if we get anywhere, but can't promise anything. :)

[2015-09-01 13:02] fushnisoft commented on #24
I had a similar issue recently, previously we had set
`$httpProvider.defaults.headers.common['If-Modified-Since'] = '0'` to deal with IE caching issues but obviously this was a bit of a heavy solution. Knowing the specific calls that needed this allowed a more elegant solution of using an interceptor to only apply the header to specific urls. I am not sure you can hope to cleanup headers in the an

[2015-09-01 13:17] HJoost commented on #24
Thank you for your reply! (And we also use Typescript, it's just perfect in conjunction with angular ;-))

[2015-09-12 21:15] khaines commented on #24
" I am not sure you can hope to cleanup headers in the angular-applicationinsights module or if you even should?"

I've been thinking on this and it should be possible, and I think it is a good thing to do in the module (I'm open to opposing arguments). The http call that the app insights module is making is going to specifically the app insights data collection endpoint, so it is a "known" api fr

[2015-09-23 14:04] sondreb opened #28 "Add support for Browserify"
It's not possible to include the library using require('angular-applicationinsights'); in combination with Browserify and Gulp.

Returns error: "Error: Cannot find module 'angular-applicationinsights'".

[2015-09-23 14:14] sondreb commented on #28
All you need is a main entry point in the package.json, or perhaps use the browser field.

Like this:
[code]

Have verified this loads the file correctly, but not verified if it actually works when embedded like this.

Could you also please include both minified and unminfied files with the npm package?

[2015-09-28 08:37] sondreb commented on #28
Made a pull request for this change: https://github.com/khaines/angular-applicationinsights/pull/29

[2015-09-28 08:37] #28 closed

[2015-09-28 09:26] sondreb commented on #24
I'm seeing the same issue, tried various workarounds with no luck. My app is secured with ADAL and JWT, not sure if that matters.

[2015-09-30 01:03] khaines commented on #24
@sondreb I've uploaded a branch to this project (bugfix/khaines/cors-header-fix), where I've altered the tracking http call to remove all the headers that app insights won't accept. It should not interfere with your normal app interactions or security as the overrides only occur on the app insights call. So if you would be willing to do a verification of this fix, I would greatly appreciate a 2nd

[2015-09-30 01:04] khaines commented on #28
Thank you for that submission. It has been merged into the master branch.

[2015-09-30 08:39] sondreb commented on #24
@khaines I got that branch, embedded the angular-applicationinsights.js into my concatenated lib.js (using Browserify) and it now throws this error in Chrome:

[code]

I have removed the  <meta http-equiv="Content-Security-Policy" temporarily, so it's not a CSP issue.

As mentioned, this project uses Azure Active Directory with the ADAL library to do authentication. It might inject stuff to the XH

[2015-09-30 21:49] khaines commented on #24
I'll make sure I uploaded the change to the branch properly... The code in that branch should be removing the auth header (and any other header) from the call to AI. The reason the base js sdk for app insights works is that it is using a raw XHR object. This is something I would like to avoid in the angular module since using the $http service allows for developers to mock in their own services du

[2015-09-30 21:58] khaines commented on #24
In the non-minified code you are using, you should find a block of code like this:

[code]

This should be stripping out the default headers and making a custom headers object to use in the request. I did try it out previously on a test app that had a few headers like Authorization set, and they did get stripped out on my test app. But I was just running the default $http provider.

[2015-10-01 04:35] khaines commented on #24
I double checked my fix vs what I think the cause of the issue is and the call is overriding the headers in common and post objects (& therefore sending the tracking call). The tracking call is a post so anything in the get/put/delete/etc default header objects should not affect it. However if you are still having the issue, I'm missing an obvious scenario and I would like to understand more about

[2015-10-21 11:52] gligoran commented on #25
+1

[2015-11-11 21:51] Rogn commented on #24
@khaines We had the following code: `$http.defaults.headers.common = { ApiKey: window.getApiKey() }` and also saw the error talked about here. But using your fix above resolves the issue.

[2015-11-12 03:01] khaines commented on #24
@Rogn : Thanks for replying and I'm glad that the code in the side branch fixed that for you. I will integrate this into the master branch for the next update.

[2015-11-21 19:34] khaines commented on #24
fix added to v0.2.6 release

[2015-11-21 19:34] #24 closed

[2015-12-01 20:14] calloncampbell opened #32 "Getting this error XMLHttpRequest cannot load https://dc.services.visualstudio.com/v2/track. Request header field Authorization is not allowed by Access-Control-Allow-Headers in preflight response"
Hi,

I've added this to my AngularJS app and with option "autoPageViewTracking" set to true, I get the following error:

XMLHttpRequest cannot load https://dc.services.visualstudio.com/v2/track. Request header field Authorization is not allowed by Access-Control-Allow-Headers in preflight response.

[2015-12-01 21:24] khaines commented on #32
Which version are you running? 0.2.6 has a fix for overriding configured default headers during the telemetry request, so that headers the target system doesn't accept (like Authorization) are removed. This should have addressed the cause for this error.

[2015-12-01 21:27] khaines commented on #32
https://github.com/khaines/angular-applicationinsights/blob/master/dist/angular-applicationinsights.js#L870 Lines 870 through 877 should be filtering out any undesired default headers for the request

[2015-12-01 22:41] calloncampbell commented on #32
I'm using 0.2.6.

[2015-12-02 00:25] khaines commented on #32
Now I'm curious about how your application is setup. Are you using a custom service for $http or overriding the default for any requests?

 Also if you have a reproducible example, I would be happy to debug it to try and understand why what I'm doing in the code (clearing out any headers) before sending the $http request is not having the intended result.

 My email address is on my public profile

[2015-12-03 01:24] khaines commented on #32
Thank you again @calloncampbell for the example of the issue.

Confirmed in the investigation that the injector is adding header values that the appinsights module cannot overwrite, so a correction branch (https://github.com/khaines/angular-applicationinsights/tree/feature/xhr-wrapper) was created changing how the module creates http requests, using the bare XHR object  vs $http, but still allows

[2015-12-04 07:11] khaines commented on #32
This issue is resolved in version v0.2.7

[2015-12-04 07:11] #32 closed

[2015-12-18 02:37] bobwiller commented on #32
FYI, I am still seeing this issue in 0.2.7 - I am using Auth0 to authenticate users.  Not sure what other information I can provide to help debug?

[2015-12-19 02:48] khaines commented on #32
Is this on a page/app I can access? I can debug it that way if it will be
helpful. You can send me details directly to the email in my public profile
as well, if you don't want them shared.

Cheers,

Ken

On Thu, Dec 17, 2015 at 6:37 PM, bobwiller <notifications@github.com> wrote:

[2016-01-07 06:07] #5 closed

[2016-01-07 06:07] #6 closed

[2016-01-07 06:07] #7 closed

[2016-01-07 06:08] #10 closed

[2016-01-07 08:09] tedvanderveen commented on #25
+1

[2016-01-10 12:04] rahulseth01 opened #34 "Vital Info not getting logged"
We are having AppInsight enabled in our UWP Win 10 App.

We then noticed that some of the vital fields are not getting captured at all:
• ContextApplicationVersion (e.g 3.4.0.0)
• ContextDeviceOemName (e.g Hewlett-Packard, Dell Inc.)
• ContextDeviceDeviceModel (e.g HP Z230 SFF Workstation, XPS 12 9Q23)

For initializing the AI component, we are using below code:

[code]

[2016-01-16 00:05] khaines commented on #34
There is no auto detection of these values in this module as this is primarily a browser module. A future  version should probably allow an app developer to set these directly.

[2016-01-26 21:53] calloncampbell opened #35 "106: Field 'type' on type 'Device' is of incorrect type. Expected: string, Actual: undefined"
From time to time I see the following error in the browser console. When it happens, all tracking stops. It's not consistent when it happens.

dc.services.visualstudio.com/v2/track:1 POST https://dc.services.visualstudio.com/v2/track 400 (106: Field 'type' on type 'Device' is of incorrect type. Expected: string, Actual: undefined)

[2016-01-27 15:31] calloncampbell commented on #35
Here is the header/response data...

-- Request Headers:
POST /v2/track HTTP/1.1
Host: dc.services.visualstudio.com
Connection: keep-alive
Content-Length: 548
Accept: application/json
Origin: http://dev.calltelligence.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.111 Safari/537.36
Content-Type: application/json
Referer: http://dev

[2016-01-27 19:42] kowsheek commented on #35
I'm getting this as well.

[2016-01-27 20:37] calloncampbell commented on #35
Maybe something changed with Application Insights service itself.

I tried updating my local source JavaScript file (0.2.7) and added 'type: "PC",' for the device section. That error goes away and I then get a similar error for the user. Updating that with a 'type' makes that error go away and then I get a pageview error. I'm no familiar enough with this library to debug it further than that.

[2016-01-27 21:30] kowsheek commented on #35
Yes, it seems the upgraded version of the Application Insights added a bunch of new things, which are cool. Time to upgrade our stuff! I'll try to get a PR in over the weekend with fixes. Take a look and see if there are things you can PR with @calloncampbell: https://github.com/Microsoft/ApplicationInsights-JS/tree/master/JavaScript/JavaScriptSDK

[2016-01-27 23:11] MaxShehovtsov commented on #35
Hi Folks - for your information:
In order for the telemetry to show up on *browser* blade (i.e. to be treated as browser telemetry) it has to have device type = "Browser". JS SDK sets it by default.
If you want your telemetry to show up on *server* blades (like server performance, or failures) it has to have device type "PC".

[2016-01-29 00:01] ersommer commented on #35
From what I've heard, they recently moved to some new server-side code which has stricter schema validators. Adding the 2 fields (device.type and user.type) to the data sent seems to be easy. Would you just want a PR for that? If so, I can probably get that done today.

The official JavaScript SDK looks like it's using a different schema when it sends the data, perhaps it's a newer version. Is the

[2016-01-29 00:05] MaxShehovtsov commented on #35
Currently JS SDK uses the most recent production schema. And recently there was a change in UI (and hence reflected in JSSDK) that 'browser' blade (the one that shows JS SDK telemetry) will only show telemetry wiith device.type = "Browser".

[2016-01-29 04:06] khaines commented on #35
If someone has time to update the code to the latest schemas, then a PR will be quickly approved.

[2016-01-29 04:21] khaines commented on #35
Seems rather annoying that they change the data contract without rev'ing the version number, but seems the simple 'min solution' is to add the two fields the endpoint is complaining about.

[2016-01-29 04:55] khaines commented on #35
correction, it looks like the inner version numbers were rev'd, but they broke back compat with the previous version. There is more than just adding two fields in this change to get it updated.

I no longer use Application Insights, so if there is someone wanting to own this repository and give it it the attention it needs, please msg me. I'll review and approve any PR's for the repository also, b

[2016-01-29 05:09] ersommer commented on #35
I talked with the a member of the App Insights team, and they confirmed they recently enabled additional schema validation on their side, which is why it all of a sudden stopped working. Additionally, this module uses v1 of the schema which will eventually be unsupported. There's a v2 of the schema (which the JS SDK uses) that is significantly different.

I've added the device.type and user.type f

[2016-01-29 16:46] C-E-Rios commented on #35
@ersommer thanks for that. After applying your fixes, I then started to see the below when an exception is thrown.

[2016-01-29 23:37] ersommer commented on #35
@C-E-Rios It appears that the object passed into `trackException` must have values for `name` and `message`. Without those, the validation fails. The `trackException` method sets `typeName` to `exception.name` when it's building the data to send, which is actually what the App Insights server expects.

I've tested the other methods, and they all seem to be working. @Sin360 has a PR out for adding

[2016-01-29 23:45] ersommer opened #37 "Unknown domain type 'Microsoft.ApplicationInsights.PageviewData'"
When submitting a PageView event, the server rejects the data and returns:

[code]

Changing the type from PageviewData to PageViewData fixes the issue. Note that this error only appears after applying the fixes for #35.

[2016-01-30 01:35] #37 closed

[2016-01-30 01:47] khaines commented on #35
Prematurely closed the issue via tooling.

Thanks folks for submitting the PR's. I've merged them and kicked off the release tools to push the update into npm and nuget.

I'll leave this issue open for the next while for anyone having a similar issue on 0.2.8 to comment on.

[2016-02-02 20:11] calloncampbell commented on #35
I've upgraded to v0.2.8 and the issue seems to be resolved. Thanks for the quick turn around on this. Very much appreciate it.

[2016-02-04 22:38] #35 closed

[2016-02-16 18:17] masimplo opened #39 "Support UI Router page views"
I noticed that you only register on locationChangeSuccess events which is fine for anyone using the default router. But since UIRouter is the most popular router used in angular1 apps I think that supporting it out of the box would be nice.
Handling is identical with one you have now, but you should also listen to $stateChangeSuccess event. Having both event listeners registered should cause any t

[2016-03-09 14:47] additionbo opened #40 "bower.json file is minor flawed :)"
bower.json file is minor flawed :)

you are referencing both the minified min file AND the full version,
 "main": ["dist/angular-applicationinsights.min.js", "dist/angular-applicationinsights.js"],

putting that in, will make bower inject both files into application when using wiredep
instead do this and bower will work its magic

"main": ["dist/angular-applicationinsights.js"],

not everybody is

[2016-04-03 01:15] cyclomaticsegal opened #42 "Feature to stop posting when client goes offline?"
This would be useful for apps running in Electron for example.

[2016-04-14 08:02] edwinvdvis opened #43 "Package, installed via NuGet, gives JS error in IE8"
![image](https://cloud.githubusercontent.com/assets/3597827/14521052/e1bc7f94-0227-11e6-930c-e3e78c515e12.png)

the method toISOString is not supported in IE8, is there a possibility that this can be fixed?

[2016-04-14 18:30] khaines commented on #43
IE8 is not something that will be supported, unfortunately.

[2016-04-14 18:30] #43 closed

[2016-04-14 20:41] izefler commented on #25
Someone could set this? What would be the alternative?

[2016-05-04 14:29] lucasowens opened #44 "error calling: https://dc.services.visualstudio.com/v2/track"
When I first run my application locally I get the following error:

Failed to load resource: the server responded with a status of 400 (109: Field 'name' on type 'EventData' is required but missing or empty. Expected: string, Actual:)

All subsequent calls seem to go through fine. Any idea what I could be doing wrong?

[2016-05-11 12:23] wk001 commented on #35
I'm experiencing a similar issue with v0.2.8 when handling an error with the exceptionHandler decorator:

angular-applicationinsights.js:628
POST https://dc.services.visualstudio.com/v2/track 400 (109: Field 'typeName' on type 'ExceptionDetails' is required but missing or empty. Expected: string, Actual: undefined)

[2016-05-11 12:44] wk001 opened #45 "Log decorator isn't logging full message"
I'm using ^0.2.8 in conjunction with angular-logger ~1.1.0.  Unfortunately, the log interceptor isn't working as expected; only the message prefix is sent to AI.

For example, $log.debug('hello world') writes "May 11, 2016 1:27 PM::[global]>  hello world"  to the console.  But only "May 11, 2016 1:27 PM::[global]>" is sent to AI.  This is because multiple arguments are sent to the decorator but on

[2016-06-28 09:56] VladimirRybalko commented on #19
@khaines any news about 'developer mode'?
Seems that project was abandoned by the owner.

[2016-07-04 18:18] khaines commented on #19
Yes, I'm not maintaining this codebase. If someone would like to own this project, I'm very willing to hand it over.

[2016-07-10 15:01] jrmcdona commented on #32
Does this only happen when running with localhost?  I get the error too and I have the latest angular-applicationinsights source.

[2016-07-11 21:56] jrmcdona opened #50 "Data not showing up in appinsights"
Hello0
I am writing an event to App Insights, however, it is not making it to the App insights portal.

Not seeing any errors either.  I see the angular-appinsights module is writing out the object to the browser console and I see my instrumentation key is present.

Anything that would help me debug this?

Thanks

[2016-07-12 03:02] jrmcdona commented on #50
Is it possible that this will not work if the SDK is installed and ASP.NET has the app insights configured?  Seems like that wouldn't matter here within the angular app, but something is going wrong here.   I am not getting any traces to the App insights service in fiddler either for my events.  Thanks

[2016-07-21 16:42] amigup commented on #25
+1

[2016-08-15 11:32] wk001 commented on #25
👍

[2016-08-24 15:37] patrickpenn commented on #39
+1

[2016-08-24 15:38] patrickpenn commented on #25
+1

[2016-09-06 23:03] ericmahlberg commented on #19
Would suggest using a different name - there is a property of the same name in the Insights assembly which has a very different impact: https://msdn.microsoft.com/en-us/library/microsoft.applicationinsights.channel.telemetrychannel.developermode.aspx

Also, it would be good if it were disabled by default - it took me a bit of digging to realize why my page view transitions weren't doing anything o

[2016-09-17 18:58] justinhomes commented on #50
i have the same problem, i do not see any calls made to azure

[2016-09-17 18:59] justinhomes commented on #50
@jrmcdona  did you find solution to ur issue?

[2016-09-17 21:19] jrmcdona commented on #50
@justinhomes never did and never went back to trying to figure it out

[2016-09-19 15:45] VladimirRybalko commented on #19
@khaines
Your project is really interesting for me. Could you transfer me all required privileges?
I'm going to fix all existing issues and develop ability to supporting the angular2.
Thanks in advance.

[2016-09-23 21:01] khaines commented on #19
@VladimirRybalko I certainly can transfer the main repository to you, however you need to remove your fork of the project or stash it somewhere. Github will say there is a naming collision if I try to transfer this code to you otherwise.

[2016-09-24 01:41] VladimirRybalko commented on #19
@khaines there is no problem. I've done it. Please try again.

[2016-09-24 02:47] khaines commented on #19
It's all yours, once you accept it. Thank you for taking the project on.

[2016-09-24 03:56] VladimirRybalko commented on #19
@khaines thank you.

[2016-09-26 03:36] VladimirRybalko commented on #50
Hi, @justinhomes and @jrmcdona .
Seems that you faces with the "developer mode" option.
Unfortunatelly there were some discrepancy between documentation and source code.
I'm sorry for misunderstanding. Now everything is fixed.
Moreover I'm going to do "developer mode" is inactive by default. Look at the #19

So now you can configure appInsights as
[code]

[2016-09-26 03:36] #50 closed

[2016-10-11 02:06] dylan-smith opened #51 "Doesn't collect AJAX Dependencies"
I notice some differences between using AppInsights via the MS provided snippet vs using angular-applicationinsights.  Not collected page load stats is already known and captured in another issue, but I also get AJAX Dependency Info if I use the MS snippet which I don't with angular-applicationinsights.

The below screenshot is what I get automatically from just including the MS provided JS snippe

[2016-10-31 10:48] rosieks commented on #25
+1

[2016-11-28 18:28] bfelda commented on #26
I see that the source has a duration parameter but it's missing in dist.  Still a work in progress?

[2016-12-06 22:57] Compulsed opened #52 "Missing line & column numbers"
This current version of Application insights does not correctly set the line and column numbers in the AI portal.

This is not a problem with the current version of the JavaScript API

![image](https://cloud.githubusercontent.com/assets/1109278/20947475/6f20262e-bc63-11e6-951f-2e154169fc77.png)

Awesome project, and if possible would love to see a fix!

[2016-12-14 05:20] #19 closed

[2016-12-14 07:06] VladimirRybalko commented on #52
Thanks for reporting this issue. It will be great if you'd like to contribute a fix!
Nice to hear your words about project. You always could click the star button to support us.

[2016-12-14 07:08] VladimirRybalko commented on #44
Seems that issue was resolved early. An update of the nuget package fixed this problem.

[2016-12-14 07:08] #44 closed

[2016-12-14 07:15] VladimirRybalko commented on #26
@bfelda Yes, work is still in progress. Unfortunately project was not supported for a long time. But now we changed the owner. So I hope that work will be continued. If you'd like to be a contributor, it will be cool.

[2016-12-14 07:19] #40 closed

[2016-12-14 07:27] VladimirRybalko commented on #42
@cyclomaticsegal Could you explain this issue? What does it mean "when client goes offline"?
If client is offline, it would not work so it didn't send any information to AI.

[2016-12-19 05:08] #52 closed

[2016-12-26 07:48] VladimirRybalko commented on #34
I agree that the best solution will be implementation of custom context properties. App developer will set these directly.

[2016-12-27 08:51] VladimirRybalko commented on #39
Now, **$viewContentLoaded** event is supporting out from the box. It allows to catch as **$locationChangeSuccess**  as **$stateChangeSuccess** event.

[2016-12-27 08:54] VladimirRybalko commented on #26
@bfelda I've added the 'duration' parameter in dist. Welcome to use it.

[2016-12-27 09:45] VladimirRybalko commented on #39
Duration parameter works incorrectly for UIRoute mechanism. So I need to redesign it.

[2016-12-27 09:47] VladimirRybalko commented on #26
Seems it has some bugs with duration parameter for UI router navigation. Need to check it more carefuly.

[2016-12-27 09:58] #45 closed

[2016-12-28 09:14] VladimirRybalko commented on #39
I've completed the last fixes with duration parameter for UI Router. (look at #26 ).
Now app could track page view events for both mechanism: ngRoute and ui-route.
App trackes _ngRoute_ events by default ($locationChangeStart and $locationChangeSuccess).
If you need to track ui-route events ($stateChangeStart and $stateChangeSuccess) you will turn on the **autoStateChangeTracking** option too.

[2016-12-28 09:14] #39 closed

[2016-12-28 09:17] VladimirRybalko commented on #26
I've fixed all evil bugs with UI router. The task is done.

[2016-12-28 09:17] #26 closed

[2016-12-29 16:38] tutujohngeorge opened #54 "Adding custom tags to tracking"
I have a requirement to add custom tags to the events getting logged from my angular application like shown below. Is it possible currently?

![capture](https://cloud.githubusercontent.com/assets/20303714/21548584/2848b61c-cdbb-11e6-8c74-348fa7baab68.JPG)

[2016-12-29 18:48] tutujohngeorge opened #55 "Adding custom error identifier to exception tracking"
We have a SPA application with Web API backend which uses application insights. For any error encountered, we generate a unique ID to show to the user, so that we can correlate it back in the App Insights. I am able to do the same in Web API; but is there a way to use the same in SPA using this plugin?

![capture](https://cloud.githubusercontent.com/assets/20303714/21552120/68a5f8b6-cdcd-11e6-9389

[2016-12-30 14:21] VladimirRybalko commented on #54
Hi @tutujohngeorge. Thanks to your feedback.
But unfortunately it's not possible yet. I'm going to add the custom tags in the #34 issue. However if you decided to develop it yourself it would be great. I always glad the new pull requests from community.

[2016-12-30 14:25] VladimirRybalko commented on #55
@tutujohngeorge
Unfortunately not yet.
App uses the internal UUID factory to generate any unique identifiers.
But your idea seems interesting.

[2017-01-28 09:24] johnkattenhorn opened #57 "Angular 2 support"
Is there a way for me to use this library inside an Angular 2 app ?

Would it be much work for us to convert it to be compatible with Angular 2 ?

[2017-01-30 04:02] VladimirRybalko commented on #57
Hi @johnkattenhorn.
I never checked this library inside an Angular 2 app. I have some ideas about supporting of Angular 2 but I have so little time for that.
Generally I don't think it will be hard work. You should redesign some service declarations and possibly listen another Angular events.
If you did the pull request it would be a big help for me and for the community.
 Thanks you

[2017-02-09 03:42] #42 closed

[2017-03-22 17:51] tutujohngeorge opened #58 "End-to-end cross-tier correlation from SPA to Server"
I have a scenario in my SPA wherein I need to show the end-to-end correlation across multiple tiers. For eg: When a page is loaded, a couple of Web API calls are made to the server, which in turn queries the database for data retrieval.
I need the App Insights to show this as related operations. So, the Page View event has the Request events associated with it; which in turn has a database call as

[2017-03-28 11:34] #58 closed

[2017-03-28 11:34] #55 closed

[2017-03-28 11:34] #54 closed

[2017-03-28 11:39] VladimirRybalko commented on #34
Hi @rahulseth01
@tutujohngeorge has already added ability to added custom properties into appinsight module.
I suppose it would resolve your issue too.

[2017-03-28 11:39] #34 closed

[2017-05-25 10:16] #25 closed

[2017-05-26 09:26] rosieks opened #61 "Add latest version to bower"
The latest version in bower is 0.2.8 - could you add the latest (0.3.1)?

[2017-06-15 05:44] VladimirRybalko opened #62 "Pull master branch to update bower package"
Hi @khaines
Hope I find you well.
Seems that I faced with one issue. Unfortunately, I can't resolve it myself.
I need to update bower package. However bower package relates with your repository, so I don't have any abilities for pushing new changes to bower.
Could you please pull all my changes to update package.
Thanks in advance.

[2017-06-15 05:46] VladimirRybalko commented on #61
Hi @khaines
Hope I find you well.
Seems that I faced with one issue. Unfortunately, I can't resolve it myself.
I need to update bower package. However bower package relates with your repository, so I don't have any abilities for pushing new changes to bower.
Could you please pull all my changes to update package.
Thanks in advance.

P.S. I've duplicated my message here.

[2017-06-19 06:29] VladimirRybalko commented on #61
Hi @rosieks
I suggest to wait some time. If I do not get feedback from @khaines I will register a new bower package.

[2017-06-19 07:35] rosieks commented on #61
Thanks @VladimirRybalko,
Then I will wait

[2017-06-19 15:03] khaines commented on #61
I will try to take care of this tonight as well as get that bower package
changed to look at the right location :)

Cheers,

ken

On Mon, Jun 19, 2017 at 12:35 AM, Sławomir Rosiek <notifications@github.com>
wrote:

[2017-08-05 08:56] VladimirRybalko commented on #61
@khaines any news about this issue?

[2017-09-05 15:35] VladimirRybalko commented on #62
Closed because there is the same issue: #61

[2017-09-05 15:35] #62 closed

[2017-09-13 17:19] khaines commented on #61
There isn't a way to transfer it unfortunately, so I had to deregister the package. Please feel free to register it again

[2017-09-13 17:24] khaines commented on #61
Correction it did get registered to the new location :), so folks can once again get the latest updates via bower

![image](https://user-images.githubusercontent.com/1144092/30391298-b1aca620-986d-11e7-9539-25a60ab73563.png)

[2017-09-14 07:28] VladimirRybalko commented on #61
@khaines it's great! Thanks you.
So bower package is still accessible via the old name: "_bower install angular-applicationinsights_", isn't it?

[2017-09-14 20:35] khaines commented on #61
yes it is...same name

On Thu, Sep 14, 2017 at 12:28 AM, Vladimir Rybalko <notifications@github.com

[2017-09-15 07:37] #61 closed

[2017-10-13 08:40] ohalay opened #63 "Npm package old version"

[2017-10-16 21:09] VladimirRybalko commented on #63
@ohalay
Oops. Seems you're right. I'll do it when I'm not so busy.

[2017-11-07 08:42] VladimirRybalko commented on #63
I just uploaded a new version to npm.

[2017-11-07 08:42] #63 closed

[2017-11-07 22:04] ohalay commented on #63
@VladimirRybalko Great job dude

[2018-01-17 22:54] JimInWA opened #64 "Missing the angular-applicationinsights.js.map file"
The angular-applicationinsights.js file has the following statement
//# sourceMappingURL=angular-applicationinsights.js.map

However, I don't see the angular-applicationinsights.js.map file in either the master branch or in the zip files for the Releases.

Is it possible for the angular-applicationinsights.js.map file to be added?

[2018-01-22 11:16] VladimirRybalko commented on #64
@JimInWA
Thank you for reporting this issue.
You're right js.map file is missing in deployment step.
You can build a source code yourself and take angular-applicationinsights.js.map from build folder if you really need it.
I'll have a look on it soon.

[2018-02-20 08:34] rubenmamo opened #65 "Module causes NTLM Authentication to fail on a url with a different host"
I have an on premise angular app which uses NTLM authentication and has api hosted on different urls.

All calls to the site which houses the angular app work, however when I try to get data from a different URL I get a single request which returns a 401 error.

When I disable the module I get two calls to the different URL, one returns a 401 and the second works as intended.

[2018-03-08 18:07] n0is commented on #51
Hey @dylan-smith ,

I faced the same problem and after looking at the code, I found out that "trackDependency" method wasn't implemented.  I suppose that I shouldn't be hard to do.

cc @VladimirRybalko

[2018-03-12 12:34] VladimirRybalko commented on #51
Hello @n0is
This issue has label "up for grabs". So feel free to do it. It will be really cool, if you add a PR. I appreciate any helps from community.
Thanks in advance.

[2018-03-15 15:59] n0is opened #66 "Why custom header are used in ApplicationInsightsInterceptor"
Hey @VladimirRybalko ,

Since I'm using your module in our app, I've noticed that our sever received a lot more of OPTION requests.  I didn't know exactly where it could come from until I read in some documentation that custom headers could trigger such requests.  I remember that I add to add 'x-ms-request-root-id', 'x-ms-request-id' in our web.config file since they're used in this lib which make

[2018-03-22 17:05] tcrite opened #67 "Setting Role Name"
Is there a config option for setting the cloud role name?

[2018-05-12 21:55] VladimirRybalko commented on #66
Hey, @n0is
The both headers are correlation headers that are used by Microsoft to link different telemetry requests.
You can find more information [here](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation)

[2018-05-12 21:58] VladimirRybalko commented on #67
Hi @tcrite. Unfortunately there is not this option right now. Feel free to create a new pull request. :-)

[2018-05-18 09:15] #66 closed

[2018-06-04 14:41] ngarrard opened #68 "Problem setting UserID"
When setting a userID using the 'defineUser' function, it seems that the userID is stored in the local storage, and when the 'track' post is send, the userid is also in the request, but when I look at the UserID in Application Insights, undefined is show.
Any ideas?
Thx
N

[2018-12-04 12:47] palanivelus opened #69 "Offline issue"
The offline HTTP request may cause a performance issue, is there any way to stop HTTP request while app goes offline?

[2018-12-04 21:49] #67 closed

[2019-02-12 11:12] niksonkjohn opened #70 "How to remove server and x-powered-by header from the response."
How to remove server and x-powered-by header from the response.

[2019-04-23 10:14] VladimirRybalko commented on #69
@palanivelus
Thank you for resolving it

[2019-04-23 10:14] #69 closed

[2022-10-05 00:00] cj-dalley opened #75 "Adding custom properties"
How can we/ can we get the ability to add custom properties to all outgoing telemetry?

![image](https://user-images.githubusercontent.com/107517032/193951764-35c31ff5-9adb-479f-a682-42e0f90a9d73.png)